<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home-page</title>
  </head>
  <body>
    {% block greeting %} {% endblock %} 
    {% block error%} {% endblock %}
    {% for fruit in fruits %} {% if fruit ==
    'guava' %}
    <h3>{{fruit}} is my fav</h3>
    {% else %}
    <h3>{{ fruit | capitalize }}</h3>
    {% endif %} {% endfor %}
  </body>
</html>
